h1 {
  font-family: monospace;
}

#download-button-wrapper {
  position:absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%)
}

#download-button {
  border: 0px;
  border-radius: 2px;
  box-shadow: 0px 0px 2px #777;
  background-color: #fff;
  font-size: 15px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
}
